{{ $about := .Site.GetPage "about" }}
{{ $cv := $about.Params.cv }}

<header class="site-header">
    <a class="site-brand" href="/">{{ $about.Params.full_name }}</a>
    <nav class="site-nav" aria-label="Primary navigation">
        <a href="/projects/">Projects</a>
        <a href="/teachings/">Teachings</a>
        <a href="/experiments/">Experiments</a>
        <a href="/publications/">Publications</a>
        <a href="/presentations/">Presentations</a>
        {{ if $cv }}<a href="/{{ $cv }}" target="_blank">CV</a>{{ end }}
    </nav>
</header>
